<?xml version="1.0"?>

<!DOCTYPE config [
<!ELEMENT config (option)+>
<!ELEMENT option (introspect?, help, map?, alternative*, custom?)>
<!ATTLIST option
  key CDATA #REQUIRED
  static (true|false) 'true'
  priority NMTOKEN '5'
  type (string|boolean|int-options|string-options|string-array|file|path|directory|number|font|class|custom) #REQUIRED
  class CDATA #IMPLIED
  separator CDATA #IMPLIED
>
<!ELEMENT introspect EMPTY>
<!ATTLIST introspect
  class CDATA #REQUIRED
  property CDATA #REQUIRED
>
<!ELEMENT help (#PCDATA)>

<!ELEMENT map EMPTY>
<!ATTLIST map
  name CDATA #REQUIRED
>
<!ELEMENT custom EMPTY>
<!ATTLIST custom
  class CDATA #REQUIRED
>
<!ELEMENT alternative (#PCDATA)>
<!ATTLIST alternative
  number NMTOKEN #REQUIRED
  name CDATA #REQUIRED
>
]>

<config>
  <option key="Bibles.Default" type="string-options">
  	<introspect class="org.crosswire.jsword.book.Books" property="DefaultByName"/>
    <help>Which of the available Bibles is the default.</help>
    <map name="biblenames"/>
  </option>

  <option key="Bibles.Raw.Cache Data" type="boolean">
  	<introspect class="org.crosswire.jsword.book.raw.RawBible" property="DefaultCacheData"/>
    <help>Do new RawBibles cache the entire Bible in memory, or just the indexes.</help>
  </option>

  <option key="Bibles.Sword.Base Directory" type="string">
  	<introspect class="org.crosswire.jsword.book.sword.SwordBibleDriver" property="SwordDir"/>
    <help>Where is the SWORD Project base directory.</help>
  </option>

  <option key="Bibles.Remote.Remote Host" type="string-array" separator=" ">
  	<introspect class="org.crosswire.jsword.book.remote.HttpRemoteBibleDriver" property="URLs"/>
    <help>The URL of a remote HTTP host.</help>
  </option>

  <option key="Bibles.Display.Persistent Naming" type="boolean">
  	<introspect class="org.crosswire.jsword.passage.PassageUtil" property="PersistentNaming"/>
    <help>True if the passage editor re-writes the references to conform to its notation.</help>
  </option>

  <option key="Bibles.Display.Blurring Rules" type="int-options">
  	<introspect class="org.crosswire.jsword.passage.PassageUtil" property="BlurRestriction"/>
    <help>What is the default blurring - Blur across chapter boundaries or not.</help>
    <alternative number="0" name="None"/>
    <alternative number="1" name="Book"/>
    <alternative number="2" name="Chapter"/>
  </option>

  <option key="Bibles.Display.Book Case" type="int-options">
  	<introspect class="org.crosswire.jsword.passage.BibleInfo" property="Case"/>
    <help>What case should we use to display the references.</help>
    <alternative number="0" name="lower"/>
    <alternative number="1" name="Sentance"/>
    <alternative number="2" name="UPPER"/>
    <alternative number="3" name="mIXeD"/>
  </option>

  <option key="Looks.Look and Feel" type="class">
  	<introspect class="org.crosswire.common.swing.LookAndFeelUtil" property="LookAndFeel"/>
    <help>The look and feel of the application</help>
  </option>

  <option key="Reports.Exceptions to Dialog Box" type="boolean">
  	<introspect class="org.crosswire.common.swing.ExceptionPane" property="HelpDeskListener"/>
    <help>Do we display Exceptions in a GUI window.</help>
  </option>

  <option key="Reports.Exceptions to Log Window" type="boolean">
  	<introspect class="org.crosswire.common.swing.ExceptionShelf" property="HelpDeskListener"/>
    <help>Do we display Exceptions in a the GUI shelf.</help>
  </option>

  <option key="Advanced.Source Path" type="path">
  	<introspect class="org.crosswire.common.swing.DetailedExceptionPane" property="SourcePath"/>
    <help>The directories to search for source code in when investigating an exception.</help>
  </option>

</config>
