<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE Server
    PUBLIC "-//Sun Microsystems, Inc.//DTD Servlet Server 1.0//EN"
    "file:./etc/server.dtd">

<!--

This is the configuration file for the JSWDK server.
Following is a brief overview of the JSWDK server
configuration options. Please review the following
file for complete configuration information:

    etc/server.dtd

-->

<Server adminPort="-1" workDir="work">
    <ContextManager port="8080" hostName="" inet="">

<!--
    Note: a default context, one which path is specified
          as "/", must be defined per the servlet 2.2
          specification.
-->
        <Context path="/" docBase="webpages"
            defaultSessionTimeOut="30" isWARExpanded="true"
            isWARValidated="false" isInvokerEnabled="true"
            isWorkDirPersistent="false"/>
        <Context path="/examples" docBase="examples"
            defaultSessionTimeOut="30" isWARExpanded="true"
            isWARValidated="false" isInvokerEnabled="true"
            isWorkDirPersistent="false"/>
        
        <!-- Old TcpEndpoint-based HttpServer. Will be deprecated soon! 
        <Connector className="org.apache.tomcat.server.HttpServerConnector">
        </Connector>

        <Connector className="org.apache.tomcat.service.TcpEndpointConnector">
            <Parameter name="handler" value="org.apache.tomcat.service.http.HttpConnectionHandler"/>
            <Parameter name="port" value="8081"/>
        </Connector>
        -->

        <!-- New HttpServer.  -->
        <Connector className="org.apache.tomcat.service.http.HttpAdapter">
        </Connector>

        <!-- AJP11 - works with the old/stable JServ module -->
        <!-- 
        <Connector className="org.apache.tomcat.service.TcpEndpointConnector">
            <Parameter name="handler" value="org.apache.tomcat.service.Ajp11ConnectionHandler"/>
            <Parameter name="port" value="8009"/>
        </Connector>
        -->

        <!-- AJP12 - current JServ module -->
        <Connector className="org.apache.tomcat.service.TcpEndpointConnector">
            <Parameter name="handler" value="org.apache.tomcat.service.connector.Ajp12ConnectionHandler"/>
            <Parameter name="port" value="8007"/>
        </Connector>

        <!-- New Ajp23, you need to compile the new/experimental module -->
        <!-- 
        <Connector className="org.apache.tomcat.service.TcpEndpointConnector">
            <Parameter name="handler" value="org.apache.tomcat.service.connector.Ajp23ConnectionHandler"/>
            <Parameter name="port" value="8008"/>
        </Connector>
        -->

    </ContextManager>
</Server>
