th
{
	background-color: #506D50;
	text-align: left;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

small
{
	font-size: xx-small;
	color: #D2E3D2;
	font-weight: normal;
}

table
{
	border: 2px solid #324632;
	background-color: #FFFFFF;
}

body
{
	background-color: #B4C8B4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 10px;
	color: #666666;
}

h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	text-align: center;
	color: #282840;
}

td
{
	vertical-align: top;
}
a {
	color: #006600;
}
