
th
{
	background-color: #9C9CC0;
	text-align: left;
	color: #282840;
}

small
{
	font-size: xx-small;
	color: #464671;
	font-weight: normal;
}

table
{
	border: 1px solid #8282B0;
	background-color: #FFFFFF;
}

body
{
	background-color: #CCCCDF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 10px;
	color: #323250;
}

h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	text-align: center;
	color: #282840;
}

td
{
	vertical-align: top;
}
