body {
  background-color : #999966;
  font-family : Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-size : 10pt;
}

h1 {
  font-family : Eras Bold ITC, Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-weight : normal;
}

h2 {
  font-family : Eras Bold ITC, Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-weight : normal;
}

h3 {
  font-family : Eras Bold ITC, Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-weight : normal;
}

h4 {
  font-family : Eras Bold ITC, Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-weight : normal;
}

td.navbutton {
  background-color : #4d5c47;
  font-family : Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-size : 10pt;
  color : #ffffcc;
}

td.navbutton a:link {
  text-align : center;
  color : #ffffcc;
  text-transform : uppercase;
  font-family : Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-size : 10pt;
  font-weight : bold;
  text-decoration : none;
}

td.navbutton a:visited {
  text-align : center;
  color : #ffffcc;
  text-transform : uppercase;
  font-family : Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-size : 10pt;
  font-weight : bold;
  text-decoration : none;
}

td.navbutton a:hover {
  text-align : center;
  text-transform : uppercase;
  font-family : Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-size : 10pt;
  font-weight : bold;
  text-decoration : underline;
}

td.sidenav {
  background-color : #f5f5dc;
}

td.sidenav {
  padding: 5pt;
  font-family : Verdana, Arial, Geneva, Helvetica, Sans-Serif;
  font-size : 10pt;
  font-weight : bold;
}

td.sidenav a:link {
  color : #4d5c47;
  text-decoration : underline;
}

td.sidenav a:visited {
  color : #4d5c47;
  text-decoration : underline;
}

td.sidenav a:hover {
  color : #ff0000;
  text-decoration : none;
}

td.maincell {
  background-color : #ffffff;
}

td.maincell a:link {
  color : #4d5c47;
}

td.maincell a:visited {
  color : #4d5c47;
}

td.maincell a:hover {
  color : #ff0000;
  text-decoration : none;
}
