<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jpl.classdep.Test"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    externalArchive=&quot;C:/Program Files/j2sdk1.4.1/jre/lib/rt.jar&quot;
    path=&quot;2&quot; sourceAttachmentPath=&quot;C:/Program Files/j2sdk1.4.1/src.zip&quot;
    sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    externalArchive=&quot;C:/Program Files/j2sdk1.4.1/jre/lib/ext/dnsns.jar&quot;
    path=&quot;2&quot; sourceAttachmentPath=&quot;&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    externalArchive=&quot;C:/Program Files/j2sdk1.4.1/jre/lib/ext/ldapsec.jar&quot;
    path=&quot;2&quot; sourceAttachmentPath=&quot;&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    externalArchive=&quot;C:/Program Files/j2sdk1.4.1/jre/lib/ext/localedata.jar&quot;
    path=&quot;2&quot; sourceAttachmentPath=&quot;&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    externalArchive=&quot;C:/Program Files/j2sdk1.4.1/jre/lib/ext/sunjce_provider.jar&quot;
    path=&quot;2&quot; sourceAttachmentPath=&quot;&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    externalArchive=&quot;C:/Program Files/classdep/classdep.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_default"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="T:\share\joe\jsword\etc\classdep.properties"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.debug.ui.javaSourceLocator"/>
    <stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="perspective_default"/>
</launchConfiguration>
